table {
  border: 1px solid #000000;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #AAAAAA;
}
table thead {
  background: #1A97E7;
}
table thead th {
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table thead th:first-child {
  border-left: none;
}
.title-style {
  text-align: center;
  background-color: #1A97E7;
  color: white;
}
.highlight-row {
  background-color: #cce8ff;   /* תכלת בהיר */
  color: #003366;              /* כחול כהה */
  font-weight: bold;           /* טקסט מודגש */
  font-size: 18px;             /* קצת יותר גדול */
}

